@import url(/src/styles/style.css);
@import url(/src/scripts/engine.js);

/*
$btn-width: 250px !default;
$btn-height: 80px !default;
$btn-full: $btn-height+$btn-width !default;
$btn-half: $btn-full/2 !default;
$bg-color: #eeeeee !default;
*/

/*Botões do menu*/
.menu-link {
    text-decoration: none;
    color: var(--cor-branco);
    font-family: var(--fonte-secundaria);
    padding: 0.5rem;
    position: relative;
    transition-duration: .6s;
}

.menu-link:hover {
    color: var(--cor-secundaria);
    cursor: pointer;
}

.menu-link:hover,
.menu-link:active {
  letter-spacing: 5px;
}

.menu-link:after,
.menu-link:before {
    content: " ";
    position: absolute;
    left: 50%;
    width: 0; /* Largura das bordas */
    height: 1px; /* Espessura das bordas */
    background-color: var(--cor-secundaria);
    opacity: 0; /* Inicialmente invisíveis */
    transition: width 0.6s ease, opacity 0.6s ease, left 0.6s ease; /* Transições suaves */
}

.menu-link::before {
    top: 0;
}

.menu-link::after {
    bottom: 0;
}

.menu-link:hover::before,
.menu-link:hover::after {
    width: 85%; /* Largura final */
    opacity: 1; /* Tornam-se visíveis */
    left: 6%; /* Ajusta a posição para centralizar durante o hover */
}

/*Botões da página principal*/
#home-buttons {
    display: flex;
    justify-content: center;
    gap: 25px;
}

.home-button {
    color: var(--cor-texto);
    background-color: var(--cor-branco);
    border: 0.4px solid var(--cor-branco);
    padding: 1rem;
    font-family: var(--fonte-secundaria);
    font-weight: 600;
    font-size: 18px;
    width: 11.875rem;
    position: relative;
    overflow: hidden;
    z-index: 0;
}


.home-button::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: var(--cor-primaria);
    transform: translateX(-100%);
    transition: transform 0.4s ease-in-out;
    z-index: -1;
    color: var(--cor-branco);
}

.home-button:hover {
    color: var(--cor-branco); /*Cor do texto no hover*/
}

.home-button:hover::before {
    transform: translateX(0);
}

/*Links de contato da seção ABOUT*/
.about-address-links {
    display: flex;
    position: relative;
    align-items: center;
    gap: 0.3rem;
}

.about-address-links  a,
.about-address-links  p {
    color: var(--cor-texto);
    font-family: var(--fonte-alternativa);
}

/*Efeito dos links*/
.about-address-link:hover {
    cursor: pointer;
}

.about-address-link:after,
.about-address-link:before {
    content: " ";
    position: absolute;
    left: 50%;
    width: 0; /* Largura das bordas */
    height: 1px; /* Espessura das bordas */
    background-color: var(--cor-cinza);
    opacity: 0; /* Inicialmente invisíveis */
    transition: width 0.6s ease, opacity 0.6s ease, left 0.6s ease; /* Transições suaves */
}

.about-address-link::before {
    top: 0;
}

.about-address-link::after {
    bottom: 0;
}

#about-link-whatsapp {
    grid-column-start: 1;
}

#whatsapp-link:hover::after {
    width: 81%; /* Largura final */
    opacity: 1; /* Tornam-se visíveis */
    left: 20%; /* Ajusta a posição para centralizar durante o hover */
}

#about-link-instagram {
    grid-column-start: 3;
}

#instagram-link:hover::after {
    width: 86%; /* Largura final */
    opacity: 1; /* Tornam-se visíveis */
    left: 17%; /* Ajusta a posição para centralizar durante o hover */
}


#about-link-email {
    grid-column-start: 2;
    grid-row-start: 1;
}

#email-link:hover::after {
    width: 90%; /* Largura final */
    opacity: 1; /* Tornam-se visíveis */
    left: 10.5%; /* Ajusta a posição para centralizar durante o hover */
}


#about-link-localizacao {
    grid-column-start: 2;
    grid-column-end: 3;
}

#about-link-creci {
    text-transform: uppercase;
    grid-column-start: 1;
    grid-row-start: 2;
    gap: 5px;
}

  
