@import url(/src/styles/reset.css);
@import url(/src/styles/buttons.css);
@import url(/src/styles/investimentos.css);
@import url(/src/styles/contato.css);

:root {
    /* Cores */
    --cor-primaria: #08082A; 
    --cor-secundaria: #CCB8A0; 
    --cor-branco: #f8f9fa; /* Branco*/
    --cor-texto: #333; /* Cinza escuro */
    --cor-destaque: #42427E; /*Azul claro*/
    --cor-escura: #292308; /*Marrom escuro*/
    --cor-cinza: #dddddd;

  
    /* Fontes */
    --fonte-principal: "new-order", sans-serif;
    --fonte-secundaria: "Poppins", sans-serif; /* Para usar como fallback */
    --fonte-alternativa: "Montserrat", serif;
    --font-alternativa2: "Lato", serif;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    width: 100%;
}

.menu {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    gap: 3.125rem;
    background-color: var(--cor-primaria);
}

#menu-logo img {
    width: 24.375rem;
    padding: 2.5rem;
}

.menu-links {
    display: flex;
    gap: 1.25rem;
}

main {
    background-color:#f7f7f7;
    width: 100%;
}

#home {
    height: 100vh;
    width: 100%;
    background-image: url(/src/assets/background/background.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#home::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)); /* Preto com 50% de transparência */;
}

#home-conteudo {
    position: relative;
    z-index: 1;
    color: var(--cor-branco);
}

#home-conteudo p {
    font-family: var(--fonte-secundaria);
    text-transform: uppercase;
    font-weight: 200;
    letter-spacing: 0.156rem;
}

h1 {
    font-family: var(--fonte-principal);
    font-size: 80px;
    font-weight: 400;
    letter-spacing: 0.375rem;
    margin-bottom: 1.563rem;
    text-shadow: 1.5px 1.5px 2px var(--cor-escura);
}

h2 {
    text-transform: uppercase;
    letter-spacing: 1.5px;
    font-family: var(--fonte-principal);
    font-weight: bolder;
    font-size: 28px;
    text-align: center;
    color: var(--cor-primaria);
}

#about {
    border: 0px solid transparent;
    border-radius: 12px;
    background-color: var(--cor-branco);
    margin: 5% auto;
    text-align: center;
    overflow: hidden;
}

#about-container {
    display: grid;
    gap: 2rem 3rem;
    border: 1px solid var(--cor-cinza);
    margin: 0 2rem;
}

#about-container h2 {
    padding-top: 2rem;
    align-items: center;
    color: var(--cor-texto);
    font-size: 36px;
}

#about-container h2,
#about-text {
    display: flex;
    justify-content: center;
    text-shadow: 1.5px 1.5px 3px var(--cor-branco);
}

#about-text {
    font-size: 24px;
    margin: 0 2rem;
    font-family: var(--fonte-alternativa);
    font-weight: 400;
    line-height: 33px;
}


#about-photo {
    margin: 1rem;
    grid-row-start: 1;
    grid-row-end: 4;
}

#about-photo img {
    max-height: 500px;
    width: auto;
    margin-left: 1rem;
    border: transparent .2px solid;
    border-radius: 10px;
}

#about-address {
    display: grid;
    grid-column-start: 2;
    margin: 1.5rem auto;
    min-width: 650px;
    font-size: 16px;
    line-height: 24px;
    font-weight: 500;
    font-style: normal;
    letter-spacing: 1px;
    column-gap: 3rem;
    row-gap: 1rem;
}

#investimentos-titulo {
    color: var(--cor-texto);
}

#investimentos,
#imoveis-terceiros {
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
    overflow: hidden;
}

.investimento {
    background-color: var(--cor-branco);
    max-height: 500px;
    height: 26rem;
    width: 18rem;
    box-shadow: 2px 2px 5px var(--cor-texto);
    overflow: hidden;
    display: flex;
    flex-direction: column;
    color: var(--cor-texto);
    transition: transform 0.3s ease; 
}

.investimento:hover {
    cursor: pointer;
    transform: scale(1.03);
}

#investimento-photo {
    display: flex;
    justify-content: center;
}

#investimento-photo img {
    max-width: 288px;
    height: auto;
}

.investimento-info {
    display: flex;
    flex-direction: column;
    height: 26rem;
    gap: .6rem;
}

.investimento-info h3 {
    font-size: 24px;
    font-family: var(--fonte-secundaria);
    padding: 0.8rem;
}

/*Slogan na HomePage*/
.investimento-descricao {
    font-size: 14px;
    font-family: var(--fonte-secundaria);
    padding: 0 0.8rem;
}

.detail {
    display: flex;
    align-items: center;
    padding: 0 0.8rem;
    gap: 5px;
}

.detail p {
    font-size: 12px;
}

.detail img {
    height: 18px;
}

#rodape {
    display: flex;
    width: 100%;
    background-color: var(--cor-primaria);
    color: var(--cor-secundaria);
    text-decoration: none;
    min-height: 11.25rem;
}

#rodape-conteudo {
    font-family: var(--fonte-principal);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin: 0.625rem auto;
    gap: 3rem;
}

#rodape-logo {
    max-width: 300px;
    padding-right: 50px;
    border-right: var(--cor-secundaria) 2px solid;
}

.rodape-logo {
    object-fit: contain;
    height: auto;
    max-width: 2rem;
}

#rodape-contatos {
    letter-spacing: 2px;
    display: flex;
    align-items: center;
    gap: 3rem;
    padding: 1rem 0;
}

#rodape-contatos span {
    display: flex;
    gap: 0.625rem;
}

.rodape-textos {
    display: flex;
    flex-direction: column;
    min-width: fit-content;
    gap: 0.19rem;
}

.rodape-textos a {
    font-size: 12px;
}

.rodape-link {
    color: var(--cor-secundaria);
}

#rodape-direitos {
    display: flex;
    justify-content: space-between;
    width: 90vw;
    border-top: .8px solid var(--cor-secundaria);
    padding: 1rem;
    font-size: 14px;
}